<footer class="footer__container">
  <img style="width: 150px; height: 70px; align-self: center; padding-bottom:var(--spacing-token-sm)"
    src="/assets/logos/difree-logo.svg" alt="difree logo">
  <div class="footer__divisor">
  </div>
</footer>