<div class="header__logo__container">
  <img style="width: 130px; height: 70px;" src="/assets/logos/difree-logo.svg" alt="difree logo">
  <div class="header__sub-container">
    <div></div>
    <div>
      <img style="height: 15px" src="/assets/logos/powered-by.svg" alt="poweredby logo">
      <img style="height: 18px" src="/assets/logos/kiota-negro.svg" alt="kiota logo">
      <p style="display: inline">&</p>
      <img style="height: 15px" src="/assets/logos/partner-difree-negro.svg" alt="partner logo">
    </div>
    <p class="heading__label">Digital Freelancing for Higher Education students and Recent Graduates</p>
  </div>
</div>